manifest {
	homePage = 'https://github.com/dhineshp565/InfluenzaA_Typing'
    description = 'Pipeline for generating Influenza HA sequencing'
	author= 'dhineshp565'
    mainScript = 'main.nf'
    version = 'v1.0.2'
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'dhineshp565/influenzaa_typing'
}


params {

    // Options: Mandatory
    input='filepath'
    out_dir='output_directory'			
	
}


profiles {
	standard{
		docker {
			includeConfig 'config/docker.config'
			docker.enabled=true
		}
	}
}


process {
	withLabel:low {
		cpus= 1
	 	memory= 2.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus=1
	 	memory= 4.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=8
	 	memory=8.GB
	 	time= 8.h
	 }
}
timeline {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.out_dir}/execution/trace.txt"
}
