manifest {
	homePage = 'https://github.com/dhineshp565/InfluenzaNanopore'
    description = 'Pipeline for generating Influenza HA sequencing'
	author= 'dhineshp565'
    mainScript = 'main.nf'
    version = '1.0.0'
	nextflowVersion= '>=22.12.0-edge'
	manifest.defaultBranch = "main"
	name = 'InfluenzaA_HA'
}


params {

    // Options: Mandatory
    input='filepath'
    outdir='output_directory'			
	
}


profiles {
	docker {
		includeConfig 'config/docker.config'
		docker.enabled=true
	}
}


process {
	withLabel:low {
		cpus= 2
	 	memory= 4.GB
	 	time= 2.h
	 }
	 withLabel:medium {
	 	cpus=4
	 	memory= 8.GB
		time= 4.h
	 }
	 withLabel:high {
	 	cpus=8
	 	memory=16.GB
	 	time= 8.h
	 }
}
