process {
  withName: influenza_nano {
    container="jimmyliu1326/influenza_nanopore"
}
  withName: orfipy {
  container="quay.io/biocontainers/orfipy:0.0.4--py310h0dbaff4_2"
}
  withName: insaflu {
  container="staphb/abricate:1.0.1-insaflu-220727"
}
  withName:make_report {
    container="dhp565/rmarkdown_pagedown:v1.0.0"
}
  withName:make_limsfile {
    container = "staphb/seqkit:2.13.0"
}
} 